#os files
.DS_Store
.vscode

#old tests
files/tests.sh

#compiled files
files/*.o 
files/*.a

#tests
tests
old_struct
old_test_files
files_leap
old_test_bench
decomissioned structs
files/clean_tests.sh 
small_tests
#data crunching
data/
files/run_.sh
*.xlsx
/sibila/