#os files
.DS_Store
.vscode

#old tests
files/tests.sh
files/structs_with_rw_locks

#compiled files
files/*.o 
files/*.a

#tests
tests
old_struct
old_test_files
files_leap
old_test_bench
decomissioned structs
files/clean_tests.sh 
files/test_*
small_tests
files/run_base.sh
sibila_array_addresses.txt
files/expht_b.c
files/headers.txt

#data crunching
data/
files/run_.sh
*.xlsx
/sibila/